.sidebar {
    height: 100vh;
    background-color: #f9f8fa;
}

.navbar {
    background-color: #f9f8fa;
}

.sidebar {
    padding: 10px 5px;
    text-align: center;
}

.sidebar a {
    text-decoration: none;
}